

 *{
  margin: 0;
  padding: 0;
}
body{
  width: 1440px;
  max-width: 100%;
  background-color: #4a4a48;
  margin: 0px auto;
}
:root{
  --font-descricao: " @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');";
  
  --style-descricao: italic;

  --titulo: "@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');";

  --deletarEoDescricao: "@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');";

  --novoVideo-Titulo:"@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');";

  --novoVideo-subTitulo:"@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');";

  --novoVideo-label:"@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');";

  --novoVideo-placheholder:"@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');";

  --novoVideo-itemExcluir:"@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');";

  --botoes: "@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap')";
}